@import "reset.less";
@import "default.less";
// @import 'lib/load';             //loading
// @import "lib/modal.less";
html,body {
  font-family: "PingFang SC Light", "Heiti SC", "San Francisco", "Helvetica", Arial, sans-serif;
  //font-size: 12px;
}
a:focus{
  text-decoration: none;
}
#container {
  //background: white;
  background: #e8eef2;
}

.welcome-page {
  display:flex;
  height:calc(~"100vh");
  padding-top: 55px;
  overflow:hidden;

  //定义左侧导航占比
  .nav-left {
    width: 13.4444%;
    min-width:180px;
  }
  //右侧容器
  .right-container{
    flex:1;
    height:100%;
    padding:0 0 30px;
    overflow: auto;
    background: #e8eef2;
  }
}

.card-wrap{
  margin:15px 16px;
  background-color:#fff;
  border:1px solid #cfdbe2;
  // border-top:3px solid #cfdbe2;
  border-radius: 4px;
  .card-title{
    padding: 10px 15px;
    //font-size:14px;
  }
}
.topFilterWrap{
  padding: 15px 15px 5px;
  button{
    margin-right: 10px;
  }
  .ant-form-item{padding-bottom: 10px;}
  .search-input{width:280px;margin-right:20px;}
}
.operation-buttons{
  overflow: hidden;
  zoom:1;
  margin:12px 12px 0;
  button{
    margin:4px 10px;
  }
}
//number类型的input去掉"上下"箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
.line{
  border-top: 1px solid #d7d7d7;
  margin-bottom: 20px;
}

.ant-radio-wrapper-checked .ant-radio-checked .ant-radio-inner:after{
  -webkit-transform: scale(1);
  transform: scale(1);
}
.ant-form-item-with-help{
  margin-bottom: 0 !important;
}
.ant-calendar-picker-input{
  width:160px;
}
.ant-modal-body{
  .card-wrap{
    margin:0;
    border:none;
    .ant-table-pagination{
      padding-right:0;
    }
  }
}